<a href="https://colab.research.google.com/github/Fer-Solis-Jaime/COMPUTO_NUBE/blob/main/Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SOLIS_JAIME_FERNANDO_EMMANUEL
## COMPUTO EN LA NUBE
## IIA-7

# Ejercico 1 Objetos y clases

In [2]:
# bike.py
# Definamos la clase de la bici
class Bike:
    def __init__(self, colour, frame_material):
        self.colour = colour
        self.frame_material = frame_material
    def brake(self):
        print("FRENOSS!")
# Crear los grupos de clases
red_bike = Bike('ROJA', 'FIBRA DE CARBONO')
blue_bike = Bike('AZUL', 'ACERO')
# Reunamos las opciones de las bicicletas
print("Pintura:",red_bike.colour)
print("Material:",red_bike.frame_material)
print("Pintura:",blue_bike.colour)
print("Material:",blue_bike.frame_material)
# let's brake!
red_bike.brake()

Pintura: ROJA
Material: FIBRA DE CARBONO
Pintura: AZUL
Material: ACERO
FRENOSS!

# EJERCICIO 2 MUTABLE O INMUTABLE

In [ ]:
class Person:
    def __init__(self, age):
      self.age = age
fab = Person(age = 42)
print(fab.age)
print(id(age))
print(id(fab.age))
fab.age = 25
print(id(fab))
print(id(fab.age))

42
140680071906864
140680071906832
140679777971568
140680071906288

# EJEMOPLO 3 Numeros complejos

In [ ]:
c = 3.14 + 2.73j
c = complex(3.14, 2.73)
print(c.real)
print(c.imag)
print(c.conjugate())
print(c * 2)
print(c ** 2)
d = 1 + 1j
print(c - d)

3.14
2.73
(3.14-2.73j)
(6.28+5.46j)
(2.4067000000000007+17.1444j)
(2.14+1.73j)

Fracciones y decimales

In [ ]:
from fractions import Fraction
print(Fraction (10, 6))
print(Fraction(1, 3) + Fraction (2, 3))
f = Fraction(10, 6)
print(f.numerator)
print(f.denominator)
print(f.as_integer_ratio())

5/3
1
5
3
(5, 3)

In [ ]:
from decimal import Decimal as D
print(D(3.14))
print(D('3.14'))
print(D('0.1') * D(3) - D('0.3'))
print(D('1.4').as_integer_ratio())

3.140000000000000124344978758017532527446746826171875
3.14
0.0
(7, 5)

#EJEMPLO 4  String sy bytes

In [ ]:
# 4 ways to make a string
str1 = 'This is a string. We built it with single quotes.'
str2 = "This is also a string, but built with double quotes."
str3 = '''This is built using triple quotes,
... so it can span multiple lines.'''
str4 = """This too
... is a multiline one
... built with triple double-quotes."""
str4 #A
'This too\nis a multiline one\nbuilt with triple double-quotes.'
print(str1)
print(str2)
print(str3)
print(str4) #B
#This too
#is a multiline one
#built with triple double-quotes.
print(len(str1))

This is a string. We built it with single quotes.
This is also a string, but built with double quotes.
This is built using triple quotes,
... so it can span multiple lines.
This too
... is a multiline one
... built with triple double-quotes.
49

In [ ]:
s = 'Hello There'
print(s.removeprefix('Hell'))
print(s.removesuffix('here'))
print(s.removeprefix('Hola'))

o There
Hello T
Hello There

#EJEMPLO 5 Encoding y decoding

In [ ]:
s = "This is üŋíc0de"
print(type(s))
encoded_s = s.encode('utf-8')
print(encoded_s)
type(encoded_s)
print(encoded_s.decode('utf-8'))

<class 'str'>
b'This is \xc3\xbc\xc5\x8b\xc3\xadc0de'
This is üŋíc0de

#EJEMPLO 6 String foarming

In [ ]:
nombre = 'Fernando'
edad = 22
f"Hola! Mi nombre es ¨{nombre} y mi edad es {edad}"
from math import pi
f"No discutas con {pi}, es irracional"

'No argumentos en 3.141592653589793, es irracional'

#EJEMPLO 7 LISTAS

In [ ]:
print([])
print(list())
print([1, 2, 3])
print([x + 5 for x in [2, 3, 4]])
print(list((1, 3, 5, 7, 9)))
print(list('HOLA'))

[]
[]
[1, 2, 3]
[7, 8, 9]
[1, 3, 5, 7, 9]
['H', 'O', 'L', 'A']

#EJEMPLO 8 INCREMENTO DE INTERESES

In [ ]:
# taxes.py
prompt = "Ingrese el monto "
income = int(input(prompt))
if income < 10000:
  tax_coefficient = 0.0 #1
elif income < 30000:
  tax_coefficient = 0.02 #2
elif income < 100000:
  tax_coefficient = 0.035 #3
else:
  tax_coefficient = 0.045 #4
print(f'Usted pagara: ${income * tax_coefficient} en inpuestos')

Ingrese el monto 10000
Usted pagara: $200.0 en inpuestos

# EJEMPLO 9 MENU

In [ ]:
# menu.no.walrus.py
flavors = ["pistachio", "malaga", "vanilla", "chocolate", "strawberry"]
prompt = "Choose your flavor: "
print(flavors)
while True:
  choice = input(prompt)
  if choice in flavors:
    break
  print(f"Sorry, '{choice}' is not a valid option.")
print(f"You chose '{choice}'.")

['pistachio', 'malaga', 'vanilla', 'chocolate', 'strawberry']
Choose your flavor: chocolate
You chose 'chocolate'.

# EJEMPLO 10 MATRIZ

In [ ]:
def matrix_mul(a, b):
  return [[sum(i * j for i, j in zip(r, c)) for c in zip(*b)]
    for r in a]
a = [[1, 2], [3, 4]]
b = [[5, 1], [2, 1]]
c = matrix_mul(a, b)
print(c)

[[9, 3], [23, 7]]

#EJEMPLO 11 FACTORIAL

In [ ]:
# return.single.value.py
def factorial(n):
  if n in (0, 1):
    return 1
  result = n
  for k in range(2, n):
    result *= k
  return result
f5 = factorial(5) # f5 = 120
print(f5)

120