<a href="https://colab.research.google.com/github/Fer-Solis-Jaime/COMPUTO_NUBE/blob/main/Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SOLIS_JAIME_FERNANDO_EMMANUEL
## COMPUTO EN LA NUBE
## IIA-7

# Ejercico 1 Objetos y clases

In [ ]:
# bike.py
# let's define the class Bike
class Bike:
    def __init__(self, colour, frame_material):
        self.colour = colour
        self.frame_material = frame_material
    def brake(self):
        print("Braking!")
# let's create a couple of instances
red_bike = Bike('Red', 'Carbon fiber')
blue_bike = Bike('Blue', 'Steel')
# let's inspect the objects we have, instances of the Bike class.
print(red_bike.colour) # prints: Red
print(red_bike.frame_material) # prints: Carbon fiber
print(blue_bike.colour) # prints: Blue
print(blue_bike.frame_material) # prints: Steel
# let's brake!
red_bike.brake() # prints: Braking!

Red
Carbon fiber
Blue
Steel
Braking!

# EJERCICIO 2 MUTABLE O INMUTABLE

In [ ]:
age = 42
print(age)
age = 43
print(age)

42
43

In [ ]:
age = 42
print(id(age))
age = 43
print(id(age))

140680071906832
140680071906864

In [ ]:
class Person:
    def __init__(self, age):
      self.age = age
fab = Person(age = 42)
print(fab.age)
print(id(age))
print(id(fab.age))
fab.age = 25
print(id(fab))
print(id(fab.age))

42
140680071906864
140680071906832
140679777971568
140680071906288

# EJEMOPLO 3 Numeros complejos

In [ ]:
c = 3.14 + 2.73j
c = complex(3.14, 2.73)
print(c.real)
print(c.imag)
print(c.conjugate())
print(c * 2)
print(c ** 2)
d = 1 + 1j
print(c - d)

3.14
2.73
(3.14-2.73j)
(6.28+5.46j)
(2.4067000000000007+17.1444j)
(2.14+1.73j)

Fracciones y decimales

In [ ]:
from fractions import Fraction
print(Fraction (10, 6))
print(Fraction(1, 3) + Fraction (2, 3))
f = Fraction(10, 6)
print(f.numerator)
print(f.denominator)
print(f.as_integer_ratio())

5/3
1
5
3
(5, 3)

In [ ]:
from decimal import Decimal as D
print(D(3.14))
print(D('3.14'))
print(D('0.1') * D(3) - D('0.3'))
print(D('1.4').as_integer_ratio())

3.140000000000000124344978758017532527446746826171875
3.14
0.0
(7, 5)

#EJEMPLO 4  String sy bytes

In [ ]:
# 4 ways to make a string
str1 = 'This is a string. We built it with single quotes.'
str2 = "This is also a string, but built with double quotes."
str3 = '''This is built using triple quotes,
... so it can span multiple lines.'''
str4 = """This too
... is a multiline one
... built with triple double-quotes."""
str4 #A
'This too\nis a multiline one\nbuilt with triple double-quotes.'
print(str1)
print(str2)
print(str3)
print(str4) #B
#This too
#is a multiline one
#built with triple double-quotes.
print(len(str1))

This is a string. We built it with single quotes.
This is also a string, but built with double quotes.
This is built using triple quotes,
... so it can span multiple lines.
This too
... is a multiline one
... built with triple double-quotes.
49

In [ ]:
s = 'Hello There'
print(s.removeprefix('Hell'))
print(s.removesuffix('here'))
print(s.removeprefix('Hola'))

o There
Hello T
Hello There

#EJEMPLO 5 Encoding y decoding

In [6]:
s = "This is üŋíc0de"
print(type(s))
encoded_s = s.encode('utf-8')
print(encoded_s)
type(encoded_s)
print(encoded_s.decode('utf-8'))

<class 'str'>
b'This is \xc3\xbc\xc5\x8b\xc3\xadc0de'
This is üŋíc0de

#EJEMPLO 6 String foarming

In [8]:
nombre = 'Fernando'
edad = 22
f"Hola! Mi nombre es ¨{nombre} y mi edad es {edad}"
from math import pi
f"No discutas con {pi}, es irracional"

'No argumentos en 3.141592653589793, es irracional'

In [9]:
usuario = 'Administrador1'
password = 'MUY-SECRETA'
f"Log in with: {usuario} y {password}"

'Log in with: Administrador1 y MUY-SECRETA'

#EJEMPLO 7 LISTAS

In [10]:
print([])
print(list())
print([1, 2, 3])
print([x + 5 for x in [2, 3, 4]])
print(list((1, 3, 5, 7, 9)))
print(list('HOLA'))

[]
[]
[1, 2, 3]
[7, 8, 9]
[1, 3, 5, 7, 9]
['H', 'O', 'L', 'A']

# EJEMPLO ChainMap

In [12]:
from collections import ChainMap
default_connection = {'host': 'localhost', 'port': 4567}
connection = {'port': 5678}
conn = ChainMap(connection, default_connection) # map creation
print(conn['port']) # port is found in the first dictionary

print(conn['host']) # host is fetched from the second dictionary

print(conn.maps) # we can see the mapping objects

conn['host'] = 'packtpub.com' # let's add host
print(conn.maps)

del conn['port'] # let's remove the port information
print(conn.maps)

print(conn['port']) # now port is fetched from the second dictionary

print(dict(conn)) # easy to merge and convert to regular dictionary

5678
localhost
[{'port': 5678}, {'host': 'localhost', 'port': 4567}]
[{'port': 5678, 'host': 'packtpub.com'}, {'host': 'localhost', 'port': 4567}]
[{'host': 'packtpub.com'}, {'host': 'localhost', 'port': 4567}]
4567
{'host': 'packtpub.com', 'port': 4567}

#EJEMPLO Enums

In [13]:
# example customer objects
customer1 = {'id': 'abc123', 'full_name': 'Master Yoda'}
customer2 = {'id': 'def456', 'full_name': 'Obi-Wan Kenobi'}
customer3 = {'id': 'ghi789', 'full_name': 'Anakin Skywalker'}
# collect them in a tuple
customers = (customer1, customer2, customer3)
# or collect them in a list
customers = [customer1, customer2, customer3]
# or maybe within a dictionary, they have a unique id after all
customers = {
  'abc123': customer1,
  'def456': customer2,
  'ghi789': customer3,
}

#EJEMPLO INCREMENTO DE INTERESES

In [14]:
# taxes.py
income = scan()
if income < 10000:
  tax_coefficient = 0.0 #1
elif income < 30000:
  tax_coefficient = 0.2 #2
elif income < 100000:
  tax_coefficient = 0.35 #3
else:
  tax_coefficient = 0.45 #4
print(f'You will pay: ${income * tax_coefficient} in taxes')

You will pay: $3000.0 in taxes